body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info: rgb(205, 222, 252);
    --text-info: rgb(59, 48, 147);
    --bg-success: rgb(207, 243, 218);
    --text-success: rgb(59, 120, 68);
    --bg-warning: rgb(252, 251, 201);
    --text-warning: rgb(165, 150, 62);
    --bg-error: rgb(249, 212, 215);
    --text-error: rgb(127, 35, 45);
}

.message {
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    border: .5px solid #e9e9e9;
}
.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}
.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);

}
.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);

}